
<footer class="footer">
    <div class="footer-text">
        <div class="footer-icon">
            <img src="/images/petlogo.png " width="164px;" alt="Logo da petvet"><i class="logopet"></i>
        </div>
        <p>"Este serviço não se trata de uma <br>consulta e,
            por isso, não substitui <br> o atendimento presencial,
            não fornece <br> diagnósticos e não prescreve medicamentos. <br>
            Seu intuito é apenas o de <br> fornecer orientações a seus usuários."</p>
    </div>
    <nav>
        <ul Class="footer-contact">
            <li><a href="TrabalheConosco.html">Trabalhe Conosco</a></li><br>
            <li><a href="Contato.html">Contato</a></li><br>
            <li><a href="Termosdeuso.html">Termos de uso</a></li>
        </ul>
        <ul class="midias">
            <li><a href="#"><img src="/images/facelogo.png" width="42px;"> <i class="facelogo"></i> </a> </li>
            <li><a href="#"><img src="/images/TTlogo.png" width="42px;"> <i class="TTlogo"></i> </a> </li>
            <li><a href="#"><img src="/images/youlogo.png" width="45px;"> <i class="youlogo"></i> </a> </li>
            <li><a href="#"><img src="/images/Instalogo.png" width="42px;"> <i class="instalogo"></i> </a> </li>
        </ul>
    </nav>
</footer>