<header>
  <div class="header-icon">
    <img src="/images/petlogo.png" width="50px;" alt="Logo da petvet" /><i
      class="logopet"
    ></i>
  </div>

  <!--Ajuste Gustavo - Adicionado class: itens-menu e criado css-->
  <nav class="itens-menu">
    <ul class="itens">
      <li><a href="/contato">Inicio</a></li>
      <li><a href="Sobre.html">Sobre</a></li>
      <li><a href="MundoPet.html">Mundo Pet</a></li>
      <li class="botao"><a href="Login.html">Login</a></li>
    </ul>
  </nav>

  <!--Ajuste Gustavo - Adicionado trecho abaixo-->
      
    <span class="btn-menu">
      <span></span>
      <span></span>
      <span></span>
    </span>
  

  <!--Ajuste Gustavo - FIM-->
</header>
